.gameCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}

.score {
  font-size: 3rem;
  margin-top: 100px;
}

.score,
.messages {
  text-align: center;
}
