.gameCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}

.score {
  font-size: 3rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 200px;
}
