h1 {
  font-size: 4rem;
  padding-left: 1rem;
}
.gameCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}

.score {
  font-size: 3rem;
  margin-top: 100px;
}

.messages {
  margin: 50px auto;
}

.score,
.messages {
  text-align: center;
}
