<h1>Snake Game</h1>
<div class="score-container">
  <p>Score :</p>
  <span class="score">{{ score }}</span>
</div>
<div class="gameCanvas">
  <canvas #gameCanvas [width]="canvasWidth" [height]="canvasHeight"></canvas>
</div>
<div class="messages">
  <ng-container *ngIf="gameOver">
    <p>Game Over !</p>
    <p>Appuyer sur la touche "Espace" pour recommencer.</p>
  </ng-container>
  <ng-container *ngIf="!gameOver">
    <div *ngIf="!pause">
      <p>Diriger le serpent avec les touches "🔼", "▶️", "🔽", "◀️".</p>
      <p>Appuyer sur "P" pour mettre le jeu en pause.</p>
    </div>
    <p *ngIf="pause">Reprendre.</p>
  </ng-container>
</div>
